In [1]:
# Getting data from the Fintual API

In [2]:
import requests
import pandas as pd
import time
import json

In [3]:
url='https://fintual.cl/api/real_assets/15077/days?from_date=%222022-01-01%22&to_date=%222022-12-21%22'

response=requests.get(url).json()

print(response['data'][0]['attributes'])

{'date': '2022-01-01', 'fixed_management_fee': '0.0', 'fixed_management_fee_type': 'clp', 'institutional_investors': 0, 'institutional_investors_type': 'integer', 'iva_exclusive_expenses': '0.0', 'iva_exclusive_expenses_type': 'clp', 'iva_inclusive_expenses': '0.0', 'iva_inclusive_expenses_type': 'clp', 'net_asset_value': '1040.5553', 'net_asset_value_type': 'clp', 'new_shares': '0.0', 'new_shares_type': 'decimal', 'outstanding_shares': '29918155.604', 'outstanding_shares_type': 'decimal', 'purchase_fee': '0.0', 'purchase_fee_type': 'clp', 'redeemed_shares': '0.0', 'redeemed_shares_type': 'decimal', 'redemption_fee': '0.0', 'redemption_fee_type': 'clp', 'shareholders': 10660, 'shareholders_type': 'integer', 'total_assets': '31770196990.0', 'total_assets_type': 'clp', 'total_net_assets': '31131494041.0', 'total_net_assets_type': 'clp', 'variable_management_fee': '0.0', 'variable_management_fee_type': 'clp', 'price': 1040.5553}

In [4]:
df=pd.DataFrame(columns=['date','net_asset_value'])

In [5]:



for date_fund in response['data']:
    net_asset_value=date_fund['attributes']['net_asset_value']
    date=date_fund['attributes']['date']
    df= df.append({'date':date,'net_asset_value':net_asset_value},ignore_index=True)

           date net_asset_value
0    2022-01-01       1040.5553
1    2022-01-02       1040.6709
2    2022-01-03       1040.7865
3    2022-01-04       1040.9021
4    2022-01-05       1041.0178
..          ...             ...
350  2022-12-17       1130.0748
351  2022-12-18       1130.4279
352  2022-12-19       1130.7812
353  2022-12-20       1131.1346
354  2022-12-21       1131.4881

[355 rows x 2 columns]